*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .4rem 5rem;
    background: #140921;
    z-index: 100000;
}

.nav a{
    padding: .1rem 1rem;
    border-radius: 99px;
    transition: 0.3s;
}

.nav h2{
    font-size: 1.1rem;
}

#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bar{
    color:  whitesmoke;
    font-weight: lighter;
    font-size: 2.5rem;
    display: none;
}

#item li{
    list-style: none;
    padding-right: 50px;
}

#item li a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
}

#item li a.active{
    background-color: #ff0000;
    color: #fff;
}

#item li a:hover{
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

#item li a:hover > li a:not(:hover) {
    background: none;
}

.back .back-video{
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.back .overlay{
    background: #140921;
    width: 100%;
    height: 100%;
    opacity: 1.95;
}

.cover-name .cover{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    padding-top: 150px;
    align-items: center;
    padding-left: -23.5rem;
}

.cover-name .cover h1{
    font-size: 4rem;
    font-style: italic;
    color: yellowgreen;
    text-shadow: 4px 5px 3px #000;
    margin-bottom: 1.4rem;
}

.cover-name .cover p {
    font-size: 1.3rem;
    color: #fff;
}

.feature{
    background-color: #150725;
    margin-top: -1.05rem;
    overflow: hidden;
}

.feature .flex{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
}

.card{
    margin-top: 5%;
    margin-left: 50px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 20%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.card div{
    margin: 100px 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #fff;
    padding: 40px 45px;
    transition: all 0.4s ease;
    box-shadow: rgb(184, 206, 230) 0px 20px 30px -10px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.card .figure-img1{
    width: 53px;
}

.card img{
    width: 60px;
}

.card h4{
    width: 146px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 20px 0 12px 0;
}



.card:nth-child(2){
    transition-delay: 200ms;
}

.card:nth-child(3){
    transition-delay: 400ms;
}

.card:nth-child(4){
    transition-delay: 600ms;
}

.clients{
    background-color: #3a294e;
    padding: 150px 0;
    margin-top: -4rem;
    box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
    overflow: hidden;
}

#styling-box{
    border-radius: 15px 50px;
    border: solid none;
    background-color: #401f66;
    padding: 20px;
    width: auto;
    height: auto;
}

.mt-15{
    margin-top: 1.5rem !important;
}

.clients-slider{
    margin-top: 24px;
}

.clients h3{
    letter-spacing: 1.25px;
    color: #fff;
    text-transform: uppercase;
}

.clients img{
    width: 170px;
    margin: 0 auto;
}

#styling-box .container{
    margin: 0 575px;
}


.clients .hr1{
    opacity: 1;
    height: 2px;
    width: 60px;
    rotate: 90deg;
    margin: 0 auto 50px auto;
    background: rgb(255, 255, 255, 0.75);
}

.clients .hr2{
    opacity: 1;
    height: 2px;
    width: 60px;
    rotate: 90deg;
    margin: 70px auto 0 auto;
    background: rgb(255, 255, 255, 0.75);
}

.home {
    padding-top: -50px;
    overflow: hidden;
}


section {
    background-color: #150725;
    text-align: center;
    overflow: hidden;
}

.home h4{
    font-size: 2.5rem;
    padding: 6rem 0;
    padding-bottom: 10px;
    color: #ff0000;
    text-shadow: 4px 5px 3px #000;
}

.inline {
    border-bottom: 3px solid rgb(184, 206, 230);
    margin: 0 40%;
}

.home .one h2{
    font-size: 3.5rem;
    color: rgb(34, 34, 175);
    text-shadow: 4px 5px 3px #000;
    padding-top: 30px;
}

.two {
    font-weight: 600;
    font-size: 20px;
    width: 60%;
    padding: 0 20px;
    margin: 0 50px;
    display: inline-block;
    justify-content: right;
}

.home .two .font{
    font-size: 2rem;
    color: #ff0000;
}

.home .two p{
    color: #7f8c8d;
    font-weight: 500;
    display: block;
    justify-content: center;
    margin-left: 0.7rem;
    padding: 50px 0;
}

.home .two h5{
    margin-bottom: -2.5rem ;
    color: #353b3b;
    margin-left: 0.7rem;
}

.about{
    background: #3d0543;
    padding: 100px 0;
    overflow: hidden;
}



.about-data{
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-1 * var(--bs-gutter-x));
    margin-left: calc(-1 * var(--bs-gutter-x));
}

.about hr{
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.about h2{
    font-size: 2rem;
    color: #fff;
    padding: 2rem 0;
    margin-left: 30px;
}

.about-title h5{
    color: #fff;
    font-weight: 400;
    font-family: monospace, sans-serif;
}

.about p{
    color: #fff;
    margin-left: 30px;
}

#rotate, .about img{
    width: 500px;
}

#rotate figure{
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    width: fit-content;
    clip-path: circle(45% at 50% 50%);
    transition: all 0.8s ease;
}

#rotate figure:hover{
    transform: scale(1.05);
    transition: all 0.8s ease;
}

#rotate img{
    width: 85%;
    display: block;
    margin: auto;
}

.left{
    display: block;
    float: right;
    padding: 1.78rem 4rem;
    align-items: center;
}

.gap-1{
    gap: 1rem !important;
}

.flex{
    display: flex;
    align-items: center;
}

.about .container {
    margin: 50px;
}

.about-hr {
    color: #fff;
    position: absolute;
    right: -50px;
    rotate: -90deg;
}

.about-hr hr{
    opacity: 1.25;
    height: 1px;
    border: 1px solid #b520a3;
    width: 60px;
}

.portfolio{
    background: #150725;
    margin-top: -1px;
    
}

.portfolio-1 .container{
    margin: 50px;
}

.back1 .overlay-1{
    background: red;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.porto-center{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.bot .btn_hover2{
    border: 30px solid none;
    background: #ff7527;
    margin: 1rem 0;
    margin-left: 50%;
}

.porto-center .w-50{
    width: 66%;
}

.portfolio .links {
    transform: scale(.8);
}

.porto-center h5{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.porto-center h2{
    color: #fff;
    font-size: 2rem;
}

.porto-center p{
    color: #d3c9c1;
    padding-right: 145px;
    margin-top: 1rem;
}

.portfolio-1 .gallery-hr1{
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.porto-center hr{
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    border: 1px solid;
}

.btn_hover2{
    text-decoration: none;
    color: #d3c9c1;
}

.portfolio-1 .btn_hover1{
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.porto-center .w-100{
    width: 33%;
}

.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.ga-bg{
    background-color: #150725;
    height: 10px;
}

.gallery span{
    background-color: #150725;
    opacity: 0.8;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gallery .container{
    margin-top: -50px;
    padding: 20px 50px;
}

.portfolio-1 .tab {
    transform: scale(2);
    text-align: center;
}

.tab button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: inherit;
    color: #fff;
    border-radius: 2px;
    margin: 2rem 0;
    text-align: center;
    font-size: .99rem;
    overflow: hidden;
}

.tab button.active{
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}

.w-33{
    width: 33.333333%;
    gap: 1rem !important;
}

.w-100{
    width: 100%;
}

.portfolio-1 .navbar{
    display: none;
    padding: 6px 2px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-1 .navbar .w-100{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer {
    background: #7436bb;
    padding: 22px 0 32px 0;
    overflow: hidden;
}

.content{
    border-top: 1px solid;
    padding: 1rem 8rem;
    
}

.content p{
    font-size: 1.3rem;
    color: #7f8c8d;
    justify-content: flex-start;
}

.content p i{
    color: red;
    padding-right: 5px;
    margin: 0 .5rem;
}

.content a{
    text-decoration: none;
    color: #7f8c8d;
}

.content-1 h4{
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem;
}

.content .text-lowercase:hover{
    background-color: #7436bb;
}

.copyright{
    text-align: center;
    align-items: center;
    border-radius: 15px 50px;
    background: #150725;
    color: #fff;
    padding: .5rem 0;
    margin: 1rem 5rem;
    box-shadow: rgb(184, 206, 230) 0px 10px 30px -10px;
}

.copyright img{
    align-items: center;
    padding: 0 50px;
    margin: 0 20rem;
    transition: all 0.4s ease;
    width: 20%;
}

.copyright img:hover{
    transform: scale(1.05);
    box-shadow: rgb(184, 206, 230) 0px 10px 30px -10px;
    background: #130535;
    transition: all 0.4s ease;
}


.copyright h6 a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.copyright h6{
    font-size: 1rem;
}

.text-lowercase, .sec-number{
    color: #d3c9c1;
}



/* ======= End Footer section ======= */

#backToTopBtn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    padding: 17px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #d12bec;
    cursor: pointer;
    z-index: 9999999999;
    display: none;
}

#backToTopBtn:hover{
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    border-radius: 5px;
}

@media screen and (max-width: 1042px) {
    
    .nav {
        padding: .2rem 2.5rem;
    }
    
    .nav a{
        padding: .1rem 1rem;
        border-radius: 99px;
        transition: 0.3s;
    }
    
    .nav h2{
        font-size: 1rem;
    }
    
    #item li{
        padding-right: 30px;
    }
    
    #item li a{
        font-size: 1rem;
    }
    
    .feature .flex{
        --bs-gutter-x: 1rem;
    }

    
    .card div{
    margin: 100px 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #fff;
    padding: 25px 45px;
    transition: all 0.4s ease;
    box-shadow: rgb(184, 206, 230) 0px 20px 30px -10px;
    cursor: pointer;
}
    
    .card{
        margin-top: 2%;
        margin-left: 30px;

    }
    
    .card h4{
        width: 146px;
        letter-spacing: 1px;
    }
    
    .clients{
        background-color: #3a294e;
        padding: 100px 0;
        margin-top: -5rem;
        box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
        overflow: hidden;
    }
    
    #styling-box{
        border-radius: 15px 50px;
        border: solid none;
        background-color: #401f66;
        padding: 20px;
        width: auto;
        height: auto;
    }
    
    .clients img{
        width: 170px;
        margin: 0 auto;
    }
    
    #styling-box .container{
        margin: 0 50px;
    }
    
    .about h2{
        font-size: 2rem;
        color: #fff;
        padding: 1rem 0;
        margin-left: 30px;
    }
    
    .about-title h5{
        color: #fff;
        font-weight: 400;
        font-family: monospace, sans-serif;
    }
    
    .about p{
        color: #fff;
        margin-left: 30px;
    }
    
    

}

@media screen and (max-width: 991px) {
    
    .nav {
        padding: .2rem 2rem;
    }
    
    .nav a{
        padding: .2rem 1rem;
        border-radius: 99px;
        transition: 0.3s;
    }
    
    .nav h2{
        font-size: 1rem;
        
    }
    
    #item {
        flex-direction: column;
        text-align: center;
        width: 300px;
        height: 80vh;
        position: fixed;
        top: 0;
        right: -300px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 100000;
        margin-top: 5.4rem;
        transition: 0.5s;
    }
    
    #bar{
        display: initial;
        cursor: pointer;
    }
    
    #item li{
        padding-right: 0;
        padding: 4px 0;
    }
    
    #item li a{
        font-size: 1.4rem;
    }
    
    .feature .flex{
        --bs-gutter-x: 1rem;
    }

    
    .card div{
    margin: 100px 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #fff;
    padding: 25px 45px;
    transition: all 0.4s ease;
    box-shadow: rgb(184, 206, 230) 0px 20px 30px -10px;
    cursor: pointer;
}
    
    .card{
        margin-top: 2%;
        margin-left: 30px;

    }
    
    .card h4{
        width: 146px;
        letter-spacing: 1px;
    }
    
    .clients{
        background-color: #3a294e;
        padding: 100px 0;
        margin-top: -5rem;
        box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
        overflow: hidden;
    }
    
    #styling-box{
        border-radius: 15px 50px;
        border: solid none;
        background-color: #401f66;
        padding: 20px;
        width: auto;
        height: auto;
    }
    
    .clients img{
        width: 170px;
        margin: 0 auto;
    }
    
    #styling-box .container{
        margin: 0 50px;
    }
    
    .about h2{
        font-size: 1.5rem;
        color: #fff;
        padding: .5rem 0;
        top: 50%;
        margin-left: 30px;
    }

    .about-hr{
        margin-top: 5rem;
    } 
    
    .about-title h5{
        color: #fff;
        font-weight: 400;
        font-family: monospace, sans-serif;
    }
    
    .about p{
        color: #fff;
        margin-left: 40px;
    }

    footer {
        padding: 20px 0 30px 0;
    }
    
    .content{
        border-top: 1px solid;
        padding: 1rem 8rem;
        
    }
    
    .content p{
        font-size: 1.3rem;
        color: #7f8c8d;
        justify-content: flex-start;
    }
    
    .content p i{
        color: red;
        padding-right: 5px;
        margin: 0 .5rem;
    }
    
    .content a{
        text-decoration: none;
        color: #7f8c8d;
    }
    
    .content-1 h4{
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
    }
    
    .copyright{
        margin: 1rem 3rem;
    }
    
    .copyright img{
        margin: 0 10rem;
        width: 50%;
    }
    
    
    .copyright h6 a{
        font-size: 1.2rem;
    }
    
    .copyright h6{
        font-size: 1rem;
    }
    

}

@media screen and (max-width: 768px) {
    
    .nav {
        padding: .4rem 2rem;
    }
    
    .nav a{
        padding: .2rem 1rem;
        border-radius: 99px;
        transition: 0.3s;
    }
    
    .nav h2{
        font-size: 1rem;
        
    }
    
    #item {
        flex-direction: column;
        text-align: center;
        width: 300px;
        height: 80vh;
        position: fixed;
        top: 0;
        right: -300px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 100000;
        margin-top: 5.4rem;
        transition: 0.5s;
    }
    
    #bar{
        display: initial;
        cursor: pointer;
    }
    
    #item li{
        padding-right: 0;
        padding: 4px 0;
    }
    
    #item li a{
        font-size: 1.4rem;
    }

    .cover-name .cover h1{
        font-size: 3rem;
        margin-bottom: 1.4rem;
        
    }
    
    .cover-name .cover p {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 7rem;
    }

    .feature .flex{
        --bs-gutter-x: .8rem;
    }

    
    .card div{
    margin: 100px 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #fff;
    padding: 20px 45px;
    transition: all 0.4s ease;
    box-shadow: rgb(184, 206, 230) 0px 20px 30px -10px;
    cursor: pointer;
}
    
    .card{
        margin-top: 2%;
        margin-left: 12px;

    }
    
    .card h4{
        width: 146px;
        letter-spacing: 1px;
    }
    
    .clients{
        background-color: #3a294e;
        padding: 100px 0;
        margin-top: -5rem;
        box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
        overflow: hidden;
    }
    
    #styling-box{
        border-radius: 15px 50px;
        border: solid none;
        background-color: #401f66;
        padding: 20px;
        width: auto;
        height: auto;
    }
    
    .clients img{
        width: 170px;
        margin: 0 auto;
    }
    
    #styling-box .container{
        margin: 0 50px;
    }
    
    .about h2{
        font-size: 1.5rem;
        color: #fff;
        padding: .5rem 0;
        top: 50%;
        margin-left: 30px;
    }

    .about-hr{
        margin-top: 5rem;
    } 
    
    .about-title h5{
        color: #fff;
        font-weight: 400;
        font-family: monospace, sans-serif;
    }
    
    .about p{
        color: #fff;
        margin-left: 40px;
    }

    footer {
        padding: 20px 0 30px 0;
    }
    
    .content{
        border-top: 1px solid;
        padding: 1rem 8rem;
        
    }
    
    .content p{
        font-size: 1.3rem;
        color: #7f8c8d;
        justify-content: flex-start;
    }
    
    .content p i{
        color: red;
        padding-right: 5px;
        margin: 0 .5rem;
    }
    
    .content a{
        text-decoration: none;
        color: #7f8c8d;
    }
    
    .content-1 h4{
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
    }
    
    .copyright{
        margin: 1rem 3rem;
    }
    
    .copyright img{
        margin: 0 10rem;
        width: 50%;
    }
    
    
    .copyright h6 a{
        font-size: 1.2rem;
    }
    
    .copyright h6{
        font-size: 1rem;
    }


    
    .home h4{
        font-size: 2rem;
        padding: 4rem 0;
        padding-bottom: 10px;
        color: #ff0000;
        text-shadow: 4px 5px 3px #000;
    }
    
    .inline {
        border-bottom: 3px solid rgb(184, 206, 230);
        margin: 0 40%;
    }
    
    .home .one h2{
        font-size: 2.5rem;
        color: rgb(34, 34, 175);
        text-shadow: 4px 5px 3px #000;
        padding-top: 30px;
    }
    
    .two {
        font-weight: 600;
        font-size: 20px;
        width: 60%;
        padding: 0 20px;
        margin: 0 50px;
        display: inline-block;
        justify-content: right;
    }
    
    .home .two .font{
        font-size: 1.52rem;
        color: #ff0000;
    }
    
    .home .two p{
        color: #7f8c8d;
        font-weight: 500;
        display: block;
        justify-content: center;
        margin-left: 0.7rem;
        padding: 30px 0;
    }
    
    .home .two h5{
        margin-bottom: -2.5rem ;
        color: #353b3b;
        margin-left: 0.7rem;
    }


    .about{
        background: #3d0543;
        padding: 100px 0;
    }

    
    .about hr{
        opacity: 1.25;
        height: 1px;
        color: #b520a3;
        width: 60px;
        border: 1px solid;
    }
    
    .about h2{
        font-size: 1.1rem;
        color: #fff;
        padding: 2rem 0;
        margin-left: 15px;
    }
    
    .about-title h5{
        color: #fff;
        font-weight: 400;
        font-family: monospace, sans-serif;
    }
    
    .about p{
        color: #fff;
        margin-left: 15px;
        margin: 0 2rem;
    }
    
    #rotate, .about img{
        width: 350px;
    }
    
    #rotate figure{
        background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
        width: fit-content;
        clip-path: circle(45% at 50% 50%);
        transition: all 0.8s ease;
        margin-left: 2rem;
    }
    
    #rotate figure:hover{
        transform: scale(1.05);
        transition: all 0.8s ease;
    }
    
    #rotate img{
        width: 85%;
        display: block;
        margin: auto;
    }
    
    .left{
        display: block;
        float: right;
        padding: 1rem 2rem;
        align-items: center;
    }
    
    .gap-1{
        gap: 1.5rem !important;
    }
    
    .flex{
        display: flex;
        align-items: center;
    }
    
    .about .container {
        margin: 50px;
    }
    
    .about-hr {
        color: #fff;
        position: absolute;
        right: -50px;
        rotate: -90deg;
    }
    
    .about-hr hr{
        opacity: 1.25;
        height: 1px;
        border: 1px solid #b520a3;
        width: 60px;
    }

    footer {
        padding: 20px 0 30px 0;
    }
    
    .content{
        border-top: 1px solid;
        padding: 1rem 8rem;
        
    }
    
    .content p{
        font-size: 1.3rem;
        color: #7f8c8d;
        justify-content: flex-start;
    }
    
    .content p i{
        color: red;
        padding-right: 5px;
        margin: 0 .5rem;
    }
    
    .content a{
        text-decoration: none;
        color: #7f8c8d;
    }
    
    .content-1 h4{
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
    }
    
    .copyright{
        margin: 1rem 3rem;
    }
    
    .copyright img{
        margin: 0 10rem;
        width: 50%;
    }
    
    
    .copyright h6 a{
        font-size: 1.2rem;
    }
    
    .copyright h6{
        font-size: 1rem;
    }
}

@media screen and (max-width: 496px) {
    
    .nav {
        padding: .4rem 2rem;
    }
    
    .nav a{
        padding: .2rem 1rem;
        border-radius: 99px;
        transition: 0.3s;
    }
    
    .nav h2{
        font-size: 1rem;
        
    }
    
    #item {
        flex-direction: column;
        text-align: center;
        width: 300px;
        height: 80vh;
        position: fixed;
        top: 0;
        right: -300px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 100000;
        margin-top: 5.4rem;
        transition: 0.5s;
    }
    
    #bar{
        display: initial;
        cursor: pointer;
    }
    
    #item li{
        padding-right: 0;
        padding: 4px 0;
    }
    
    #item li a{
        font-size: 1.4rem;
    }

    .cover-name .cover h1{
        font-size: 2.3rem;
        margin-bottom: 1.2rem;
        
    }
    
    .cover-name .cover p {
        font-size: 1rem;
        color: #fff;
        margin-bottom: 35rem;
    }

    .feature .flex{
        --bs-gutter-x: .8rem;
        margin: 0 20px;
        
    }

    
    .card div{
    margin: 100px 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #fff;
    padding: 10px 15px;
    transition: all 0.4s ease;
    box-shadow: rgb(184, 206, 230) 0px 20px 30px -10px;
    display: block;
    flex-direction: column;
    cursor: pointer;
    }

    .card:hover, .card div{
        transform: scale(1.1);
        transition: all 0.4s ease;
    }
    
    .card{
        margin-top: 1%;
        width: 12%;
        margin-left: 3px;
    }
    
    .card h4{
        width: 146px;
        letter-spacing: 1px;
    }

    .card:nth-child(2){
        transition-delay: 200ms;
    }
    
    .card:nth-child(3){
        transition-delay: 400ms;
    }
    
    .card:nth-child(4){
        transition-delay: 600ms;
    }
    
    .clients{
        background-color: #3a294e;
        padding: 100px 0;
        margin-top: -5rem;
        box-shadow: rgb(255, 0, 0) 0px 20px 30px -10px;
        overflow: hidden;
    }
    
    #styling-box{
        border-radius: 15px 50px;
        border: solid none;
        background-color: #401f66;
        padding: 20px;
        width: auto;
        height: auto;
    }
    
    .clients img{
        width: 170px;
        margin: 0 auto;
    }
    
    #styling-box .container{
        margin: 0 50px;
    }
    
    .about h2{
        font-size: 1rem;
        color: #fff;
        padding: .5rem 0;
        top: 50%;
        margin-left: 30px;
    }

    .about-hr{
        margin-top: 5rem;
    } 
    
    .about-title h5{
        color: #fff;
        font-weight: 400;
        font-family: monospace, sans-serif;
    }
    
    .about p{
        color: #fff;
        margin-left: 40px;
    }

    footer {
        padding: 20px 0 30px 0;
    }
    
    .content{
        border-top: 1px solid;
        padding: 1rem 8rem;
        
    }
    
    .content p{
        font-size: 1.3rem;
        color: #7f8c8d;
        justify-content: flex-start;
    }
    
    .content p i{
        color: red;
        padding-right: 5px;
        margin: 0 .5rem;
    }
    
    .content a{
        text-decoration: none;
        color: #7f8c8d;
    }
    
    .content-1 h4{
        color: #fff;
        font-size: 2rem;
        padding: 2rem;
    }
    
    .copyright{
        margin: 1rem 3rem;
    }
    
    .copyright img{
        margin: 0 10rem;
        width: 50%;
    }
    
    
    .copyright h6 a{
        font-size: 1.2rem;
    }
    
    .copyright h6{
        font-size: 1rem;
    }


    
    .home h4{
        font-size: 1.4rem;
        padding: 4rem 0;
        padding-bottom: 10px;
        color: #ff0000;
        text-shadow: 4px 5px 3px #000;
    }
    
    .inline {
        border-bottom: 3px solid rgb(184, 206, 230);
        margin: 0 40%;
    }
    
    .home .one h2{
        font-size: 2rem;
        color: rgb(34, 34, 175);
        text-shadow: 4px 5px 3px #000;
        padding-top: 30px;
    }
    
    .two {
        font-weight: 600;
        font-size: 20px;
        width: 60%;
        padding: 0 20px;
        margin: 0 50px;
        display: inline-block;
        justify-content: right;
    }
    
    .home .two .font{
        font-size: 1rem;
        color: #ff0000;
    }
    
    .home .two p{
        color: #7f8c8d;
        font-weight: 500;
        display: block;
        justify-content: center;
        margin-left: 0.7rem;
        padding: 20px 0;
        font-size: 1rem;
    }
    
    .home .two h5{
        margin-bottom: -2.5rem ;
        color: #353b3b;
        margin-left: 0.7rem;
    }


    .about{
        background: #3d0543;
        padding: 100px 0;
    }

    
    .about hr{
        opacity: 1.25;
        height: 1px;
        color: #b520a3;
        width: 60px;
        border: 1px solid;
    }
    
    .about h2{
        font-size: .9rem;
        padding: 1rem 0;
        top: 1px;
        margin-top: -2rem;
        margin-left: 25px;
    }
    
    .about-title h5{
        color: #fff;
        font-weight: 400;
        font-family: monospace, sans-serif;
    }
    
    .about p{
        color: #fff;
        margin-left: 15px;
        margin: 0 2rem;
    }
    
    #rotate, .about img{
        width: 350px;
    }
    
    #rotate figure{
        background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
        width: fit-content;
        clip-path: circle(45% at 50% 50%);
        transition: all 0.8s ease;
        margin-left: 2rem;
    }
    
    #rotate figure:hover{
        transform: scale(1.05);
        transition: all 0.8s ease;
    }
    
    #rotate img{
        width: 85%;
        display: block;
        margin: auto;
    }
    
    .left{
        display: block;
        float: right;
        padding: 1rem 2rem;
        align-items: center;
    }
    
    .gap-1{
        gap: 1.5rem !important;
    }
    
    .flex{
        display: flex;
        align-items: center;
    }
    
    .about .container {
        margin: 50px;
    }
    
    .about-hr {
        color: #fff;
        position: absolute;
        right: -50px;
        rotate: -90deg;
    }
    
    .about-hr hr{
        opacity: 1.25;
        height: 1px;
        border: 1px solid #b520a3;
        width: 60px;
    }

    footer {
        padding: 20px 0 30px 0;
    }
    
    .content{
        border-top: 1px solid;
        padding: 1rem 8rem;
        margin: 0 0;
    }
    
    .content p{
        font-size: 1rem;
        color: #7f8c8d;
        justify-content: center;
    }
    
    .content p i{
        color: red;
        padding-right: -2px;
        margin: 0 .2;
    }
    
    .content a{
        text-decoration: none;
        color: #7f8c8d;
    }
    
    .content-1 h4{
        color: #fff;
        font-size: 1.5rem;
        padding: .8 -1rem;
    }
    
    .copyright{
        margin: 1rem 3rem;
    }
    
    .copyright img{
        margin: 0 2rem;
        width: 70%;
    }
    
    
    .copyright h6 a{
        font-size: 1rem;
    }
    
    .copyright h6{
        font-size: .8rem;
    }
}
